<!DOCTYPE html>

<html lang="es"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Alimentos selectos</title>
    <meta name="description" content="Alimentos Selectos dedicada a la venta y distribución de productos nacionales e importados">
    <meta name="keywords" content="Alimentos, selectos, venta, embutidos, jamones, chorizos, morcillas, salchichas, quesos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>var base_url = '';</script>
    <link rel="icon" href="VENTAEMBUTIDOS/img/logotipo-alimentos-selectos.png">
    <link rel="stylesheet" href="VENTAEMBUTIDOS/bootstrap.css">
    <link rel="stylesheet" href="VENTAEMBUTIDOS/style.css">
    <script src="VENTAEMBUTIDOS/jquery.min.js"></script>
    <script src="VENTAEMBUTIDOS/jquery-1.7.2.min.js"></script>
    <script src="VENTAEMBUTIDOS/preloadjs-0.1.0.min.js"></script>
	<script src="VENTAEMBUTIDOS/mScript.js"></script>
    <script src="VENTAEMBUTIDOS/main.js"></script>
    <script src="VENTAEMBUTIDOS/scroll.js"></script>
    <script src="VENTAEMBUTIDOS/bootstrap.js"></script>
    <style>
        .load {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .load_salchicha {
            width: 250px;
            height: 81px;
            background: #ffffff;
        }
        .load_salchicha_blanco {
            position: fixed;
            left: 0;
            width: 0;
            height: 81px;
            background: #1d70b7;
        }
		#porcentaje
		{
			color: #e40148;
            font-family: EnamelaBold;
			font-size:27px;
			position: absolute;
			z-index:10;
            left: 50%;
            top: 30px;
            transform: translateX(-50%);
            letter-spacing: 2px;
		}
		#wrapper
		{
			display:none;
		}
		.Boton_cookie{
            font-size:16px;
            cursor: pointer;
        }
        @media screen and (max-width: 768px) {
            .Boton_cookie{
                font-size:12px;
                cursor: pointer;
            }
        }
        
        
        
        
        
        
        		.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -26px;
    left: 35%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}
        
        
        
        
        
    </style>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'UA-138432179-1');
</script>
</head>
    <body class="" style="">
	<div id="preloader">
		<div class="load">
		    <img src="VENTAEMBUTIDOS/load2www.png" alt="">
		    <span id="porcentaje">94%</span>
		</div>
		<div class="load load_salchicha">
		    <div class="load_salchicha_blanco" style="width: 94%;">
		    
		    </div>
		</div>
		
		<div class="load">
		    <img src="VENTAEMBUTIDOS/logopre.png" alt="">
		</div>
	</div>


<div id="wrapper">
<div class="degrade"></div>  
<div class="header">
   
<a th:href="@{/}">
<picture>
<img class="hidden-xs img-responsive" src="VENTAEMBUTIDOS/img/logotipo-alimentos-selectos.png">
</picture>
</a>

<a th:href="@{/}">
<picture>
<img class="hidden-xs img-responsive" src="VENTAEMBUTIDOS/img/logotipo-alimentos-selectos.png">
</picture>
</a>
   
</div>

<div id="item-menu" class="item-menu">
    <span></span>
    <span></span>
    <span></span>
</div>
	
<div class="layer" style="display:none">
    
</div>

<style>

</style>

<nav id="menu" class="menu" style="display:none;">
    <ul class="menu__options">
        <li id="nosotros">
                        <span>QUIÉNES SOMOS</span>
                    </li>
        <li  style="border-bottom:5px solid" id="productos">
                        <span>PRODUCTOS</span>
        </li>
        <li id="contacto">
                        <span>CONTACTO</span>
        </li>
        <div id="store2" class="store-button2" onclick="" style="display: inline-block;">
        	<a href="https://wa.me/51989528432?text=Alimentos%20Selectos%20-%20Quisiera%20Consultar%20sobre%20un%20producto" target="_blank">
            <img src="VENTAEMBUTIDOS/img/whatsapp.png" style="margin-left: auto;margin-right: auto;display: block;"></a>
        </div>
    </ul>
    <img src="./VENTAEMBUTIDOS/alimentos_close.png" alt="" class="menu__close">
</nav>
     
<div class="slider-contacto" th:styleappend="'background: url(http://comprayventaperu.pe/alimentoselectos.pe/alimentosftp/producto_jamonada_3_c.jpg) center center; background-size:cover !important'">
     <div id="tittle-prod" class="tittle-slider">
        <h1 id="arrow">
                PRODUCTOS
        </h1>
    </div>
</div>
    
<div class="content-category-prod">
                        <div id="product-img0" class="product-impar post_left hidden visible animated bounceInLeft" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_jamon_1_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div>
                        <div id="product-txt0" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: left;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=1)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    JAMONES</h8></a>
                            </div>
                        </div> 
                        <div id="product-txt1" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: right;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=2)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    CHORIZOS Y<br>
                                    CHICHARRONES</h8></a>
                            </div>
                        </div>
                        <div id="product-img1" class="product-impar post_right hidden visible animated bounceInRight" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_chorizo_2_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div> 
                        
                        <div id="product-img2" class="product-impar post_left hidden visible animated bounceInLeft" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_jamonada_3_c.jpg) center center no-repeat !important; background-size: cover !important">
	                        </div>
                        </div>
                        
                        <div id="product-txt2" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: left;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=3)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    JAMONADAS</h8></a>
                            </div>
                        </div> 
                        <div id="product-txt3" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: right;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=4)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    SALCHICHAS</h8></a>
                            </div>
                        </div>
                        <div id="product-img3" class="product-impar post_right hidden visible animated bounceInRight" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_salchicha_4_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div> 
                        
                        <div id="product-img4" class="product-impar post_left hidden visible animated bounceInLeft" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_ahumado_5_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div>
                        <div id="product-txt4" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: left;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=5)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    AHUMADOS</h8></a>
                            </div>
                        </div> 
                        <div id="product-txt5" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: right;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=6)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    QUESOS</h8></a>
                            </div>
                        </div>
                        <div id="product-img5" class="product-impar post_right hidden visible animated bounceInRight" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_queso_7_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div> 
                        
                        <div id="product-img6" class="product-impar post_left hidden visible animated bounceInLeft" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_papa_8_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div>
                        <div id="product-txt6" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: left;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=7)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    PAPAS PREFRITAS</h8></a>
                            </div>
                        </div> 
                        <div id="product-txt7" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: right;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=8)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    EMPACADOS</h8></a>
                            </div>
                        </div>
                        <div id="product-img7" class="product-impar post_right hidden visible animated bounceInRight" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_empacado_6_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div> 
                        
                        <div id="product-img8" class="product-impar post_left hidden visible animated bounceInLeft" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_crema_9_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div>
                        <div id="product-txt8" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: left;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                            
                            	<li class="dropdown-submenu">
                                	<a th:href="@{/precios(categoria=9)}" class="nav-link"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    CREMAS</h8></a>
                                    
                                    
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li th:each="subcat : ${subcategorias}">
											<a th:href="@{/preciosub(categoria=9,subcategoria=${subcat.idSubCategoria})}" class="nav-link">
								  				<span><h6 style="color: #000000"><span class="button_menu_txt" th:text="${subcat.nombre}"></span></h6></span>
											</a>
										</li>
						            </ul>
						         </li>
                            </div>
                             <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                        
                        <div id="product-txt10" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: right;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=10)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    APERITIVOS</h8></a>
                            </div>
                        </div>
                        <div id="product-img10" class="product-impar post_right hidden visible animated bounceInRight" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_aperitivo_10_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div>
                        
                        <div id="product-img11" class="product-impar post_left hidden visible animated bounceInLeft" style="">
                            <div class="carousel-height" style="background: url(VENTAEMBUTIDOS/producto_aceite_11_c.jpg) center center no-repeat !important; background-size: cover !important">
                            </div>
                        </div>
                        <div id="product-txt0" class="product-par post_txt hidden visible animated2 mostrar" style="text-align: left;">  
                            <div class="content-prod content-prod-category" style="text-align: center;">
                                <a th:href="@{/precios(categoria=11)}"><h8 style="position:relative;top:auto;left:auto;transform:none;color: #e40158">
                                    ACEITES</h8></a>
                            </div>
                        </div> 
                        
</div>



<div class="row" style="background-color:#f2f0e1">
        <div class="col-sm-3 col-xs-12 content-prod" style="text-align: center;">
            <img src="VENTAEMBUTIDOS/img/delivery.png" style="width:50px; height:50px;" alt="">
			<h3 style="color: #000000">
            		ENTREGA A DOMICILIO
		    </h3>
		    <p>
		            Reciba su pedido en casa
		
		    </p>
        </div> 
        <div class="col-sm-3 col-xs-12 content-prod" style="text-align: center;">
            <img src="VENTAEMBUTIDOS/img/24horas.png" style="width:50px; height:50px;" alt="">
            <h3 style="color: #000000">
            		SERVICIO LAS 24 HORAS
		    </h3>
		    <p>
		            Consulte y comience a comprar
		
		    </p>
        </div>
        <div class="col-sm-3 col-xs-12 content-prod" style="text-align: center;">
        	<img src="VENTAEMBUTIDOS/img/pago.png" style="width:50px; height:50px;" alt="">
            <h3 style="color: #000000">
            		COMPRA FÁCIL
		    </h3>
		    <p>
		            Un proceso sencillo y un pago seguro
		    </p>
        </div>
        <div class="col-sm-3 col-xs-12 content-prod" style="text-align: center;">
        	<img src="VENTAEMBUTIDOS/img/garantia.png" style="width:50px; height:50px;" alt="">
            <h3 style="color: #000000">
            		GARANTÍA DE CALIDAD
		    </h3>
		    <p>
		            Compromiso en todas sus compras
		    </p>
        </div>


</div>  


<footer>
	<ul class="rrss">
		   		<li style="color: #ffffff">Encuéntranos en:</li>
		        <li>
		            <a href="https://www.facebook.com/Alimen.selectos" target="_blank"><img src="./VENTAEMBUTIDOS/fb.png" alt="Facebook - Alimentos Selectos" style="width: 60%;height: auto;"></a>
		        </li>
		        <li>
		            <a href="https://instagram.com/Alimentoselectos" target="_blank"><img src="./VENTAEMBUTIDOS/instagram.png" alt="Instagram - Alimentos Selectos" style="width: 60%;height: auto;"></a>
		        </li>
	</ul>
	<div style=" text-align: center;" >
		<div  style="display: inline-block;padding-left:10px">
        	<ul style="text-align: left;">
        	    <li style="color: #ffffff">Categorías</li>
        		<li><a th:href="@{/precios(categoria=1)}" style="color: #b5b4b4">Jamones</a></li>
        		<li><a th:href="@{/precios(categoria=2)}" style="color: #b5b4b4">Chicharrones</a></li>
        		<li><a th:href="@{/precios(categoria=3)}" style="color: #b5b4b4">Jamonadas</a></li>
        		<li><a th:href="@{/precios(categoria=4)}" style="color: #b5b4b4">Salchichas</a></li>
        		<li><a th:href="@{/precios(categoria=5)}" style="color: #b5b4b4">Ahumados</a></li>
        		<li><a th:href="@{/precios(categoria=6)}" style="color: #b5b4b4">Quesos</a></li>
        		<li><a th:href="@{/precios(categoria=7)}" style="color: #b5b4b4">Papas prefritas</a></li>
        		<li><a th:href="@{/precios(categoria=8)}" style="color: #b5b4b4">Empacados</a></li>
        		<li><a th:href="@{/precios(categoria=9)}" style="color: #b5b4b4">Cremas</a></li>
        		<li><a th:href="@{/precios(categoria=10)}" style="color: #b5b4b4">Aperitivos</a></li>
        	</ul>
		</div>
		<div  style="display: inline-block;padding-left:10px">
	        <ul style="text-align: left;">
	        	    <li style="color: #ffffff">Información</li>
	        		<li><a th:href="@{/}" style="color: #b5b4b4">Inicio</a></li>
	        		<li><a th:href="@{/somos}" style="color: #b5b4b4">Quiénes somos</a></li>
	        		<li><a th:href="@{/productos}" style="color: #b5b4b4">Productos</a></li>
	        		<li><a th:href="@{/contacto}" style="color: #b5b4b4">Contacto</a></li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
        	</ul>
		</div>
		<div  style="display: inline-block;padding-left:10px">
        	<ul style="text-align: left;">
	        	    <li style="color: #ffffff">Contacto</li>
	        		<li style="color: #b5b4b4">Dirección:</li>
	        		<li style="color: #b5b4b4">Lima-Santa Anita</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
        	</ul>
        </div>
    </div>
    <hr style="background-color: #b5b4b4">
    <h5>Celular: 989 528 432 | Correo: atencionalcliente@alimentoselectos.pe</h5>
    <h5>2021 ALIMENTOSELECTOS.PE Todos los derechos reservados</h5>
</footer>
    <script>
       
    </script>
    
   
<script>
$(document).scroll(function(){
	var ancho = $(window).width();
    if(ancho > 768) {
                $('.header').toggleClass('scrolled', $(this).scrollTop() > 100);
        $('.header img').toggleClass('scrolled-img', $(this).scrollTop() > 100);
        $('.item-menu').toggleClass('scrolled-item-menu', $(this).scrollTop() > 100);
        $('.degrade').toggleClass('degrade_opacity', $(this).scrollTop() > 100);
            $('.menu').toggleClass('scrolled__menu', $(this).scrollTop() > 100);
            $('.menu__options').toggleClass('scrolled__menu__options', $(this).scrollTop() > 100);
            $('.menu__options__producto').toggleClass('menu__options__producto__scrolled', $(this).scrollTop() > 100);
            $('.menu__options__producto a').toggleClass('a__scrolled', $(this).scrollTop() > 100);
    }
    else {
        $('.header').toggleClass('scrolled', $(this).scrollTop() > 50);
        $('.header img').toggleClass('scrolled-img_prod', $(this).scrollTop() > 50);
        $('.item-menu').toggleClass('scrolled-item-menu', $(this).scrollTop() > 50);
        $('.degrade').toggleClass('degrade_opacity', $(this).scrollTop() > 50);
        $('.tittle-prod').toggleClass('scrolled-tittle_prod', $(this).scrollTop() > 50);
        $('.options-prod').toggleClass('scrolled-options_prod', $(this).scrollTop() > 50);
        $('#arrow').toggleClass('scrolled-arrow', $(this).scrollTop() > 50);

        $('.menu').toggleClass('scrolled__menu', $(this).scrollTop() > 50);
        $('.menu__options').toggleClass('scrolled__menu__options', $(this).scrollTop() > 50);
    }
 });
</script>
<script>
var mediaquery = window.matchMedia("(max-width: 768px)");
function handleOrientationChange(mediaquery){
var cantidad = $(".product-par").length;

if (mediaquery.matches) {
    for(var i=0; i<=cantidad; i++){
        if(i%2 !== 0) {
            $("#product-txt"+i).insertAfter("#product-img"+i);
        }
    }
} else {
    for(var i=0; i<=cantidad; i++){
        if(i%2 !== 0) {
            $("#product-img"+i).insertAfter("#product-txt"+i);
        }
    }
}

}
handleOrientationChange(mediaquery);
mediaquery.addListener(handleOrientationChange);
</script>

<script type="text/javascript">
jQuery(document).ready(function() {
    var ancho_scroll = $(window).width();
     if(ancho_scroll > 768) {
	jQuery('.post_left').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated bounceInLeft', // Class to add to the elements when they are visible
	    offset: 100    
	   });  
    jQuery('.post_right').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated bounceInRight', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
    jQuery('.post_txt').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated2 mostrar', // Class to add to the elements when they are visible
	    offset: 100    
	   });
         $('#product-img0').addClass('visible animated bounceInLeft');
         $('#product-txt0').addClass('visible animated2 mostrar');
     }
});            
</script>
</div>
    
</body></html>