<!DOCTYPE html>

<html lang="es"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Alimentos selectos</title>
    <meta name="description" content="Alimentos Selectos dedicada a la venta y distribución de productos nacionales e importados">
    <meta name="keywords" content="Alimentos, selectos, venta, embutidos, jamones, chorizos, morcillas, salchichas, quesos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>var base_url = '';</script>
    <link rel="icon" href="VENTAEMBUTIDOS/img/logotipo-alimentos-selectos.png">
    <link rel="stylesheet" href="VENTAEMBUTIDOS/bootstrap.css">
    <link rel="stylesheet" href="VENTAEMBUTIDOS/style.css">
    <script src="VENTAEMBUTIDOS/jquery.min.js"></script>
    <script src="VENTAEMBUTIDOS/jquery-1.7.2.min.js"></script>
    <script src="VENTAEMBUTIDOS/preloadjs-0.1.0.min.js"></script>
	<script src="VENTAEMBUTIDOS/mScript.js"></script>
    <script src="VENTAEMBUTIDOS/main.js"></script>
    <script src="VENTAEMBUTIDOS/scroll.js"></script>
    <script src="VENTAEMBUTIDOS/bootstrap.js"></script>
    <style>
        .load {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .load_salchicha {
            width: 250px;
            height: 81px;
            background: #ffffff;
        }
        .load_salchicha_blanco {
            position: fixed;
            left: 0;
            width: 0;
            height: 81px;
            background: #1d70b7;
        }
		#porcentaje
		{
			color: #e40148;
            font-family: EnamelaBold;
			font-size:27px;
			position: absolute;
			z-index:10;
            left: 50%;
            top: 30px;
            transform: translateX(-50%);
            letter-spacing: 2px;
		}
		#wrapper
		{
			display:none;
		}
		.Boton_cookie{
            font-size:16px;
            cursor: pointer;
        }
        @media screen and (max-width: 768px) {
            .Boton_cookie{
                font-size:12px;
                cursor: pointer;
            }
        }
    </style>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'UA-138432179-1');
</script>
</head>
    <body class="" style="">
	<div id="preloader">
		<div class="load">
		    <img src="VENTAEMBUTIDOS/load2www.png" alt="">
		    <span id="porcentaje">94%</span>
		</div>
		<div class="load load_salchicha">
		    <div class="load_salchicha_blanco" style="width: 94%;">
		    
		    </div>
		</div>
		
		<div class="load">
		    <img src="VENTAEMBUTIDOS/logopre.png" alt="">
		</div>
	</div>



<div id="wrapper">
<div class="degrade"></div>  
<div class="header">
   
<a th:href="@{/}">
<picture>
<img class="hidden-xs img-responsive" src="VENTAEMBUTIDOS/img/logotipo-alimentos-selectos.png">
</picture>
</a>

<a th:href="@{/}">
<picture>
<img class="hidden-xs img-responsive" src="VENTAEMBUTIDOS/img/logotipo-alimentos-selectos.png">
</picture>
</a>
   
    
</div>

<div id="item-menu" class="item-menu">
    <span></span>
    <span></span>
    <span></span>
</div>
	
<div class="layer" style="display:none">
    
</div>

<style>


</style>

<nav id="menu" class="menu" style="display:none;">
    <ul class="menu__options">
        <li style="border-bottom:5px solid" id="nosotros">
                        <span>QUIÉNES SOMOS</span>
                    </li>
        <li class="menu__producto" id="productos">
                        <span>PRODUCTOS</span>
        </li>
        <li id="contacto">
                        <span>CONTACTO</span>
        </li>
		<div id="store2" class="store-button2" onclick="" style="display: inline-block;">
        	<a href="https://wa.me/51989528432?text=Alimentos%20Selectos%20-%20Quisiera%20Consultar%20sobre%20un%20producto" target="_blank">
            <img src="VENTAEMBUTIDOS/img/whatsapp.png" style="margin-left: auto;margin-right: auto;display: block;"></a>
        </div>
    </ul>
    <img src="./VENTAEMBUTIDOS/alimentos_close.png" alt="" class="menu__close">
</nav>
    

<div class="slider-contacto" th:styleappend="'background: url(http://comprayventaperu.pe/alimentoselectos.pe/alimentosftp/producto_chorizo_2_c.jpg) center center; background-size:cover !important'">
     <div id="tittle-prod" class="tittle-slider">
        <h1 id="arrow">
                QUIÉNES SOMOS
        </h1>
    </div>
<!--     <img src="octo2.png" alt="" class="octogono"> -->
</div>
    
<div class="row">
    <div class="row col-sm-12 col-xs-12 content content_padding">
        <div class="col-sm-6 col-xs-12 content-prod">

            <div class="somos" style="background: url(&#39;VENTAEMBUTIDOS/somos.jpg&#39;)">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 content-prod">
            
            
	        <h7 style="color: #e40158">
           		QUIÉNES SOMOS
	        </h7>
	        <br>
	        <h3 style="color: #000000">
	            NUESTROS VALORES:<br>
				EXCELENCIA, EFICIENCIA Y SEGURIDAD <br><br>
	        </h2>
	        <p>
	            Somos una empresa peruana con más de 30 años de experiencia en el sector de alimentos.<br><br>
	            Ofreciendo nuestros productos al mercado nacional. <br><br>
	            Contamos con un equipo de profesionales que, a través de su experiencia te asesoran y brindan una gran variedad de soluciones alimenticias para tu negocio.<br>
	        </p>
        </div>        
     </div>   
</div>



<div class="row content" style="background-color:#f2f0e1">
        <div class="col-sm-6 col-xs-12 content-prod" style="text-align: center;">
			<h3 style="color: #000000">
            		VISIÓN
		    </h3>
		    <p>
		            Ser una de las empresas lider en productos alimenticios en los mercados que atendemos, además de comprometernos en brindar un excelente servicio de calidad de entrega inmediata a nuestros clientes.
		    </p>
        </div> 
        <div class="col-sm-6 col-xs-12 content-prod" style="text-align: center;">
            <h3 style="color: #000000">
            		MISIÓN
		    </h3>
		    <p>
		            Satisfacer las necesidades alimenticias del mercado Nacional, generando experiencias únicas a nuestros consumidores y clientes. La empresa opera sobre una base sólida financiera de crecimiento rentable. Por lo que, queremos dar a nuestros accionistas ganancias justas sin dejar de mantener los más altos estándares de integridad. Además, generando oportunidades y ganancias a nuestros colaboradores y clientes de esta manera contribuimos con el desarrollo de nuestra sociedad
		
		    </p>
        </div>

</div>  

<footer>
	<ul class="rrss">
		   		<li style="color: #ffffff">Encuéntranos en:</li>
		        <li>
		            <a href="https://www.facebook.com/Alimen.selectos" target="_blank"><img src="./VENTAEMBUTIDOS/fb.png" alt="Facebook - Alimentos Selectos" style="width: 60%;height: auto;"></a>
		        </li>
		        <li>
		            <a href="https://instagram.com/Alimentoselectos" target="_blank"><img src="./VENTAEMBUTIDOS/instagram.png" alt="Instagram - Alimentos Selectos" style="width: 60%;height: auto;"></a>
		        </li>
	</ul>
	<div style=" text-align: center;" >
		<div  style="display: inline-block;padding-left:10px">
        	<ul style="text-align: left;">
        	    <li style="color: #ffffff">Categorías</li>
        		<li><a th:href="@{/precios(categoria=1)}" style="color: #b5b4b4">Jamones</a></li>
        		<li><a th:href="@{/precios(categoria=2)}" style="color: #b5b4b4">Chicharrones</a></li>
        		<li><a th:href="@{/precios(categoria=3)}" style="color: #b5b4b4">Jamonadas</a></li>
        		<li><a th:href="@{/precios(categoria=4)}" style="color: #b5b4b4">Salchichas</a></li>
        		<li><a th:href="@{/precios(categoria=5)}" style="color: #b5b4b4">Ahumados</a></li>
        		<li><a th:href="@{/precios(categoria=6)}" style="color: #b5b4b4">Quesos</a></li>
        		<li><a th:href="@{/precios(categoria=7)}" style="color: #b5b4b4">Papas prefritas</a></li>
        		<li><a th:href="@{/precios(categoria=8)}" style="color: #b5b4b4">Empacados</a></li>
        		<li><a th:href="@{/precios(categoria=9)}" style="color: #b5b4b4">Cremas</a></li>
        		<li><a th:href="@{/precios(categoria=10)}" style="color: #b5b4b4">Aperitivos</a></li>
        	</ul>
		</div>
		<div  style="display: inline-block;padding-left:10px">
	        <ul style="text-align: left;">
	        	    <li style="color: #ffffff">Información</li>
	        		<li><a th:href="@{/}" style="color: #b5b4b4">Inicio</a></li>
	        		<li><a th:href="@{/somos}" style="color: #b5b4b4">Quiénes somos</a></li>
	        		<li><a th:href="@{/productos}" style="color: #b5b4b4">Productos</a></li>
	        		<li><a th:href="@{/contacto}" style="color: #b5b4b4">Contacto</a></li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
        	</ul>
		</div>
		<div  style="display: inline-block;padding-left:10px">
        	<ul style="text-align: left;">
	        	    <li style="color: #ffffff">Contacto</li>
	        		<li style="color: #b5b4b4">Dirección:</li>
	        		<li style="color: #b5b4b4">Lima-Santa Anita</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
	        		<li style="color: #000000">-</li>
        	</ul>
        </div>
    </div>
    <hr style="background-color: #b5b4b4">
    <h5>Celular: 989 528 432 | Correo: atencionalcliente@alimentoselectos.pe</h5>
    <h5>2021 ALIMENTOSELECTOS.PE Todos los derechos reservados</h5>
</footer>
    <script>
        
    </script>
    
   
<script>
$(document).scroll(function(){
     $('.header').toggleClass('scrolled', $(this).scrollTop() > 100);
     $('.header img').toggleClass('scrolled-img', $(this).scrollTop() > 100);
     $('.item-menu').toggleClass('scrolled-item-menu', $(this).scrollTop() > 100);
     $('.degrade').toggleClass('degrade_opacity', $(this).scrollTop() > 100);
     var ancho = $(window).width();
     if(ancho > 768) {
         $('.menu').toggleClass('scrolled__menu', $(this).scrollTop() > 100);
         $('.menu__options').toggleClass('scrolled__menu__options', $(this).scrollTop() > 100);
         $('.menu__options__producto').toggleClass('menu__options__producto__scrolled', $(this).scrollTop() > 100);
         $('.menu__options__producto a').toggleClass('a__scrolled', $(this).scrollTop() > 100);
         $('.menu__options__delivery').toggleClass('menu__options__delivery__scrolled', $(this).scrollTop() > 100);
         $('.menu__options__delivery a').toggleClass('a__scrolled', $(this).scrollTop() > 100);
     }
 });
</script>
</div>
    
</body></html>